body {
  line-height: normal;
}
.elements-connection,
.elements-signal {
  position: relative;
  width: 19.97px;
  height: 12px;
  flex-shrink: 0;
}
.elements-connection {
  width: 17px;
  height: 12.5px;
}
.border,
.cap-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  height: 100%;
  width: 91.47%;
  top: 0;
  right: 8.53%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  opacity: 0.4;
}
.cap-icon {
  height: 30.77%;
  width: 4.87%;
  top: 34.62%;
  right: 0;
  bottom: 34.62%;
  left: 95.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.capacity {
  position: absolute;
  height: 69.23%;
  width: 62.2%;
  top: 15.38%;
  right: 30.48%;
  bottom: 15.38%;
  left: 7.32%;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
}
.elements-battery {
  position: relative;
  width: 27.33px;
  height: 13px;
  flex-shrink: 0;
}
.indicators {
  position: absolute;
  top: 19px;
  right: 26.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.mic-cam {
  position: absolute;
  top: 6px;
  left: 282px;
  width: 6px;
  height: 6px;
}
.time {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 17px;
  font-weight: 600;
  display: inline-block;
}
.elements-time {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 148.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.status-bar-iphone-13-13-pr {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 47px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-sf-pro-text);
}
.or1 {
  position: absolute;
  top: 0;
  left: 151px;
  line-height: 18px;
  display: inline-block;
}
.or,
.vector-icon,
.vector-icon1 {
  position: absolute;
  top: 8.5px;
  left: -0.5px;
  width: 142px;
  height: 1px;
}
.or,
.vector-icon1 {
  left: 174.5px;
  width: 141px;
}
.or {
  top: 633px;
  left: 30px;
  width: 315px;
  height: 18px;
  font-family: var(--font-inter);
}
.login {
  font-weight: 500;
  color: var(--color-cyan-100);
}
.dont-have-an-account-yet-log {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 21px;
  display: inline-block;
}
.register-text {
  position: absolute;
  top: 751px;
  left: 61px;
  width: 233px;
  height: 21px;
  cursor: pointer;
  font-size: var(--font-size-sm);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  border: 0.8px solid var(--gray-3);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.google-logo-png-suite-everythi-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.facebook-1-icon,
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.facebook-1-icon {
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.group-div1,
.login-social-media {
  position: absolute;
  top: 0;
  left: 80px;
  width: 50px;
  height: 50px;
}
.login-social-media {
  top: 671px;
  left: 123px;
  width: 130px;
}
.rectangle-div2,
.register {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle-div2 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-2xl);
  background-color: var(--main);
}
.register {
  line-height: 24px;
  display: inline-block;
}
.group-div2 {
  position: absolute;
  height: 40%;
  width: 21.59%;
  top: 30%;
  right: 39.37%;
  bottom: 30%;
  left: 39.05%;
}
.button-login {
  position: absolute;
  top: 553px;
  left: 30px;
  box-shadow: 0 10px 22px rgba(149, 173, 254, 0.3);
  width: 315px;
  height: 60px;
  cursor: pointer;
  font-size: var(--text-large-text-regular-size);
  color: var(--white-color1);
}
.create-an-account,
.hey-there {
  position: absolute;
  top: 0;
  left: 56px;
  line-height: 24px;
  display: inline-block;
}
.create-an-account {
  top: 29px;
  left: 0;
  font-size: var(--title-h4-bold-size);
  line-height: 30px;
}
.title-section {
  position: absolute;
  top: 100px;
  left: 99px;
  width: 193px;
  height: 59px;
  font-size: var(--text-large-text-regular-size);
}
.rectangle-div3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: var(--white-color1);
  border: 0.8px solid var(--gray-2);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.term-of-use {
  text-decoration: underline;
}
.by-continuing-you-accept-our-p {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 15px;
  display: inline-block;
  width: 244px;
}
.privacy-policy {
  position: absolute;
  top: 247px;
  left: 0;
  width: 270px;
  height: 30px;
  font-size: var(--font-size-2xs);
}
.rectangle-div4 {
  border-radius: var(--br-lg);
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}
.iconlylight-outlineprofile,
.label-bg,
.rectangle-div4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.iconlylight-outlineprofile {
  width: 20.45%;
  right: 79.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.full-name {
  position: absolute;
  top: 0;
  left: 31.82%;
  line-height: 18px;
  display: inline-block;
}
.placeholder {
  position: absolute;
  height: 37.5%;
  width: 27.94%;
  top: 31.25%;
  right: 67.3%;
  bottom: 31.25%;
  left: 4.76%;
}
.iconlylightmessage,
.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 315px;
  height: 48px;
}
.iconlylightmessage {
  width: 18px;
  height: 18px;
}
.email {
  position: absolute;
  top: 0;
  left: 45.9%;
  line-height: 18px;
  display: inline-block;
}
.label1,
.placeholder1 {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 61px;
  height: 18px;
}
.label1 {
  top: 126px;
  left: 0;
  width: 315px;
  height: 48px;
}
.iconlylight-outlineprofile1 {
  position: absolute;
  height: 100%;
  width: 15.25%;
  top: 0;
  right: 84.75%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.phone-number {
  position: absolute;
  top: 0;
  left: 23.73%;
  line-height: 18px;
  display: inline-block;
}
.placeholder2 {
  position: absolute;
  height: 37.5%;
  width: 37.46%;
  top: 31.25%;
  right: 57.78%;
  bottom: 31.25%;
  left: 4.76%;
}
.label2 {
  position: absolute;
  top: 63px;
  left: 0;
  width: 315px;
  height: 48px;
}
.hide-password-icon {
  position: absolute;
  top: 15px;
  left: 282px;
  width: 18px;
  height: 18px;
}
.password {
  position: absolute;
  top: 0;
  left: 32.56%;
  line-height: 18px;
  display: inline-block;
}
.placeholder3 {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 86px;
  height: 18px;
}
.label-section,
.label3 {
  position: absolute;
  top: 189px;
  left: 0;
  width: 315px;
  height: 48px;
}
.label-section {
  top: 230px;
  left: 38px;
  height: 277px;
  color: var(--gray-2);
}
.register-page-1 {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--link-medium-size);
  color: var(--black-color);
  font-family: var(--link-medium);
}
